<div class="d-flex p-2">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column bg-slate-800 max-w-lg p-8 mx-auto mt-10 rounded">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" id="username" formControlName="login"/>
      <mat-error>Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" formControlName="password"/>
      <mat-error>Required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    <div class="mt-2 mx-auto w-100">
        <a routerLink="/register">
        <button mat-raised-button color="primary" type="button" class="w-100"> Register </button>
      </a>
    </div>
  </form>
</div>
